@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(33, 71%, 68%, 1)'/><path d='M40 10v20M0 10v20M10 0h20M10 40h20m10 10L30 40l10-10 10 10zM0 50l-10-10L0 30l10 10zm40-40L30 0l10-10L50 0zM0 10L-10 0 0-10 10 0z'  stroke-width='1' stroke='hsla(33, 83%, 18%, 1)' fill='none'/><path d='M20-10v20m0 20v20m-30-30h20m20 0h20M20 30L10 20l10-10 10 10z'  stroke-width='1' stroke='hsla(33, 83%, 18%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.myForm {
    font-family: 'Comfortaa', cursive;
    position: relative;
    border: 1px solid #000000;
    display: flex;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
}

.myForm:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
}

.myForm form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.formInputs {
    font-family: 'Comfortaa', cursive;
    background-color: #ffe4b5;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 1vh;
    margin: 1vh 0;
    width: 25rem;
    height: 5vh;
}

.address {
    height: 15vh;
}

.gender {
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gender div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gender input {
    transform: scale(1.5);
}

.buttons {
    transition: all .5s;
}

.buttons:hover {
    background-color: #f7c979;
}